@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-12">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="row g-3 mb-3">
                <div class="col-md-6 form-floating">
                    <input asp-for="Input.Name" class="form-control" autocomplete="name" aria-required="true" placeholder="your name" />
                    <label asp-for="Input.Name">Name</label>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-floating">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-floating">
                    <input asp-for="Input.StreetAddress" class="form-control" autocomplete="street-address" placeholder="street address" />
                    <label asp-for="Input.StreetAddress">Street Address</label>
                    <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-floating">
                    <input asp-for="Input.City" class="form-control" autocomplete="city" placeholder="city" />
                    <label asp-for="Input.City">City</label>
                    <span asp-validation-for="Input.City" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-floating">
                    <input asp-for="Input.State" class="form-control" autocomplete="state" placeholder="state" />
                    <label asp-for="Input.State">State</label>
                    <span asp-validation-for="Input.State" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-floating">
                    <input asp-for="Input.ZipCode" class="form-control" autocomplete="zip-code" placeholder="zip code" />
                    <label asp-for="Input.ZipCode">Zip Code</label>
                    <span asp-validation-for="Input.ZipCode" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-floating">
                    <select asp-for="Input.Role" asp-items="@Model.Input.ListOfRoles" class="form-select" aria-required="true" placeholder="role" id="roleSelect">
                        <option disabled selected>--Select specific role--</option>
                    </select>
                    <label asp-for="Input.Role"></label>
                    <span asp-validation-for="Input.Role" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-floating" id="companySelectDiv" style="display:none;">
                    <select asp-for="Input.Company" asp-items="@Model.Input.ListOfCompanies" class="form-select" aria-required="true" placeholder="role">
                        <option disabled selected>--Select specific company--</option>
                    </select>
                    <label asp-for="Input.Company"></label>
                    <span asp-validation-for="Input.Company" class="text-danger"></span>
                </div>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-dark">Register</button>
        </form>
    </div>
    <p class="divider-text d-flex pt-3">or</p>
    <div class="col-md-12 pt-3 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-dark" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.getElementById('roleSelect').addEventListener('change', function () {
            var companySelectDiv = document.getElementById('companySelectDiv');
            if (this.value === 'Company') {
                companySelectDiv.style.display = 'block';
            } else {
                companySelectDiv.style.display = 'none';
            }
        });
    </script>
}
